<div id="<%= dom_id loan %>">
  <p>
    <strong>Agreement:</strong>
    <%= loan.agreement_id %>
  </p>

  <p>
    <strong>Agreement type:</strong>
    <%= loan.agreement_type %>
  </p>

  <p>
    <strong>Borrower name:</strong>
    <%= loan.borrower_name %>
  </p>

  <p>
    <strong>Formatted address:</strong>
    <%= loan.formatted_address %>
  </p>

  <p>
    <strong>Formatted loan type:</strong>
    <%= loan.formatted_loan_type %>
  </p>

  <p>
    <strong>Lender branded display name:</strong>
    <%= loan.lender_branded_display_name %>
  </p>

  <p>
    <strong>Loan:</strong>
    <%= loan.loan_id %>
  </p>

  <p>
    <strong>Loan number:</strong>
    <%= loan.loan_number %>
  </p>

  <p>
    <strong>Loan type:</strong>
    <%= loan.loan_type %>
  </p>

  <p>
    <strong>Status text:</strong>
    <%= loan.status_text %>
  </p>

</div>
