<div id="<%= dom_id financial %>">
  <p>
    <strong>Available to draw:</strong>
    <%= financial.available_to_draw %>
  </p>

  <p>
    <strong>Principal balance:</strong>
    <%= financial.principal_balance %>
  </p>

  <p>
    <strong>Project commitment amount:</strong>
    <%= financial.project_commitment_amount %>
  </p>

  <p>
    <strong>Loan:</strong>
    <%= financial.loan_id %>
  </p>

</div>
